<template>
  <LazyHydrate when-visible>
    <div
      ref="text"
      :class="['text__wrapper', editor ? 'text__wrapper--editor' : '']"
      :style="`font-size: ${font}px;`"
      @scroll="scroll"
    >
      <pre
        class="text"
      ><span v-for="(line, lineIndex) of convertToLines()" :key="lineIndex"><span v-for="(word, wordIndex) of line.split(' ')" :key="wordIndex" class="text__line"><span v-for="(chord, chordIndex) of chords[`${wordIndex}.${lineIndex}`]" :key="chordIndex" class="chords__item chord_" :value="`${wordIndex}.${lineIndex}`" @click="click($event, chord, chords)">{{ chord }}<br></span><span class="word_" :value="`${wordIndex}.${lineIndex}`">{{ word + ' ' }}</span></span><br></span></pre>
    </div>
  </LazyHydrate>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator';
import LazyHydrate from 'vue-lazy-hydration';

interface Chords {
  [key: string]: string[];
}

@Component({
  components: {
    LazyHydrate,
  },
})
export default class MyClass extends Vue {
  @Prop({ default: '' }) data!: string;

  @Prop({ default: {} }) chords!: Chords;

  @Prop({ default: 16 }) font!: number;

  @Prop({ default: true }) editor!: boolean;

  convertToLines() {
    return this.data.split('\n');
  }

  scroll(e: any) {
    const text: any = e.target;
    if (text.scrollWidth - text.scrollLeft === text.offsetWidth) {
      this.$emit('scroll-end');
    }
  }

  click(e: Event, chord: any) {
    this.$emit('chord-click', {
      event: e,
      chord,
    });
  }
}
</script>

<style lang="scss" scoped>
.text__block {
  margin-right: 10px;
  display: inline-flex;
  flex-direction: column;
  height: calc(50 * 1em / 16);
}

.text {
  font-family: 'Roboto Mono', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  word-spacing: 0;
  font-size: 1em;
  // height: calc(25 * 1em / 16);
  display: block;
  height: max-content;
}

.text__wrapper--editor {
  .text {
    user-select: none;
    cursor: pointer;
  }

  .text__line {
    margin-bottom: calc(10 * 1em / 16);
  }
}

.text__line {
  display: inline-block;
  margin-bottom: calc(6 * 1em / 16);
}

.text__wrapper {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 35px;
  max-width: 100vw;
  height: max-content;
  overflow-x: scroll;
}

.text--active {
  outline: 1px solid $t-black;
}

.chords {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(25 * 1em / 16);
}

.chords__item {
  color: rgb(212, 89, 89);
  width: max-content;
  margin-right: 5px;
  cursor: pointer;
  font-size: 1em;
  height: calc(25 * 1em / 16);
}

.chords__item:last-child {
  margin-right: 0;
}

.chords__item--active {
  outline: 1px solid $t-black;
}
</style>
