<template>
  <div @click="detectElement($event)">
    <chord-text :editor="true" :data="data" :chords="chords" />
    <b-select-chords @add="addChord($event)" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Model } from 'nuxt-property-decorator';
import BSelectChords from '~/components/SelectChords.vue';
import ChordText from '~/components/ChordText.vue';

interface Coords {
  x: number;
  y: number;
}

interface Chords {
  [key: string]: string[];
}

@Component({
  components: {
    BSelectChords,
    ChordText,
  },
})
export default class MyClass extends Vue {
  @Prop({ default: '' }) data!: string;

  @Model('change', { type: Object }) chords!: Chords;

  activeWord: Coords | null = null;

  activeEl: HTMLElement | null = null;

  detectElement(event: any): void {
    const el: HTMLElement = event.target;
    const attr: Attr | null = el.attributes.getNamedItem('value');
    if (attr === null) {
      return;
    }

    const elCoords: string = attr.value;

    const parsedCoords: Coords | null = this.coordsParse(String(elCoords));
    if (!parsedCoords) {
      return;
    }

    if (el.classList.contains('chord_')) {
      this.deleteChord(parsedCoords, el);
    } else if (el.classList.contains('word_')) {
      this.selectWord(parsedCoords, el);
    }
  }

  coordsParse(coords: string): null | Coords {
    const xPos = coords.indexOf('.', 0);
    const x: number = parseInt(coords.slice(0, xPos), 10);

    const y: number = parseInt(coords.slice(xPos + 1), 10);

    if (Number.isNaN(x) || Number.isNaN(y)) {
      return null;
    }

    return {
      x,
      y,
    };
  }

  selectWord(coords: Coords, el: HTMLElement) {
    const activeClass = 'text--active';
    if (this.activeEl) {
      this.activeEl.classList.remove(activeClass);
    }

    if (
      this.activeWord &&
      coords.x === this.activeWord.x &&
      coords.y === this.activeWord.y
    ) {
      this.activeWord = null;
      this.activeEl = null;
    } else {
      this.activeEl = el;
      el.classList.add(activeClass);
      this.activeWord = coords;
    }
  }

  deleteChord(coords: Coords, el: HTMLElement) {
    const parent: HTMLElement | null = el.parentElement;
    if (!parent) {
      return;
    }

    const children: any = parent.childNodes;
    let index = 0;
    for (const item of [...children]) {
      if (item && item.classList && item.classList.contains('chord_')) {
        if (item === el) {
          break;
        }
        index += 1;
      }
    }
    const duplicate = {};
    for (const key in this.chords) {
      if (Object.prototype.hasOwnProperty.call(this.chords, key)) {
        duplicate[key] = this.chords[key].slice();
      }
    }
    duplicate[`${coords.x}.${coords.y}`].splice(index, 1);
    this.$emit('change', { ...duplicate });
  }

  addChord(chord: string) {
    if (!this.activeWord) {
      return;
    }

    if (
      !Array.isArray(this.chords[`${this.activeWord.x}.${this.activeWord.y}`])
    ) {
      this.$set(this.chords, `${this.activeWord.x}.${this.activeWord.y}`, []);
    }

    this.chords[`${this.activeWord.x}.${this.activeWord.y}`].push(chord);
    this.$emit('change', this.chords);
  }
}
</script>

<style scoped lang="scss">
.title {
  padding: 50px 0;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-weight: 400;
}

.layout {
  margin: 0 22px;
}
</style>
