<template>
  <div>
    <v-bottom-navigation
      v-if="input"
      fixed
      width="100%"
      :value="null"
      height="70px"
      class="bottom-nav"
    >
      <div class="send__wrapper">
        <v-text-field
          v-model="text"
          outlined
          class="send"
          :placeholder="$t('write')"
        />
        <v-icon v-ripple class="send__icon" @click="send">
          {{ svgIcons.send }}
        </v-icon>
      </div>
    </v-bottom-navigation>
    <v-card v-for="comment of comments" :key="comment.id" elevation="0">
      <LazyHydrate when-visible>
        <div class="comment">
          <div class="comment__wrapper">
            <div v-ripple class="comment__avatar">
              <nuxt-link
                tag="div"
                :to="localePath(`/profile/${comment.user.id}`)"
              >
                <v-avatar color="orange" size="36">
                  <img
                    v-if="comment.user.profile_image"
                    :src="comment.user.profile_image"
                    alt="?"
                    class="comment__avatar-img"
                  />
                  <span v-else class="white--text headline">?</span>
                </v-avatar>
              </nuxt-link>
            </div>
            <div class="comment__content">
              <div class="comment__text-top">
                <nuxt-link
                  class="comment__title"
                  :to="localePath(`/profile/${comment.user.id}`)"
                >
                  {{ comment.user.nickname }}
                </nuxt-link>
                <!-- <h4 class="comment__subtitle">
                  {{ $dayjs(comment.date_added).fromNow() }}
                </h4> -->
              </div>
              <p class="comment__text">
                {{ comment.text }}
              </p>
            </div>
          </div>
          <v-icon
            v-if="$auth.user && (comment.user.id !== $auth.user.id && !$auth.user.is_staff)"
            v-ripple
            class="comments__delete"
            @click="like(comment.id)"
          >
            {{ getIsLikedIcon(comment.is_liked) }}
          </v-icon>
          <v-icon
            v-if="
              $auth.user &&
              (comment.user.id === $auth.user.id || $auth.user.is_staff)
            "
            v-ripple
            class="comments__delete"
            @click="del(comment.id)"
          >
            {{ svgIcons.cancel }}
          </v-icon>
        </div>
      </LazyHydrate>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator';
import { mdiSend, mdiCancel } from '@mdi/js';
import { getIsLikedIcon } from '~/utils/any';

@Component({})
export default class MyClass extends Vue {
  @Prop({ default: false }) input!: boolean;

  @Prop({ default: () => [] }) comments!: any[];

  svgIcons = {
    cancel: mdiCancel,
    send: mdiSend,
  };

  getIsLikedIcon = getIsLikedIcon;

  text: string = '';

  fetch() {
    if (this.$i18n.locale === 'en') {
      this.$dayjs.locale('en');
    } else if (this.$i18n.locale === 'ru') {
      this.$dayjs.locale('ru');
    }
  }

  mounted() {
    if (window) {
      window.addEventListener('keydown', this.send);
    }
  }

  beforeDestroy() {
    if (window) {
      window.removeEventListener('keydown', this.send);
    }
  }

  del(comment: any) {
    this.$emit('delete', comment);
  }

  like(id: number) {
    this.$emit('like', id);
  }

  send(e: any) {
    if (e.key === 'Enter' || e.type === 'click') {
      if (this.text.length) {
        this.$emit('send', this.text);
        this.text = '';
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  margin: 0 10px;
  padding: 15px 0;
  border-top: 1px solid #f4f4f4;
}

.comment__wrapper {
  display: flex;
}

.comments__delete {
  border-radius: 50%;
  min-width: 40px;
  height: 40px;
  margin-left: 5px;
}

.comment__avatar {
  margin-right: 15px;
  height: fit-content;
  border-radius: 50%;
  cursor: pointer;
}

.comment__avatar-img {
  object-fit: cover;
}

.comment__title {
  font-weight: 600;
  font-family: $main-font;
  font-size: 16px;
  text-decoration: none;
}

.comment__subtitle {
  font-weight: 400;
  font-family: $main-font;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 3px; //Font fix
}

.comment__text {
  font-size: 16px;
  margin-bottom: 0;
}

.comment__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment__text-top {
  width: 100%;
  align-items: center;
  display: flex;
}

.send {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: initial;
  height: 52px;
  // overflow: hidden;
}

.send__icon {
  height: 50px;
  padding-right: 12px;
  padding-left: 12px;
  border: 1px solid $black;
  border-top-right-radius: $btn-border-radius;
  border-bottom-right-radius: $btn-border-radius;
  border-left: initial;
  cursor: pointer;
  display: block;
  box-sizing: content-box;
}

.send__wrapper {
  width: 100%;
  margin: 0 7px;
  max-width: 1080px;
  display: flex;
}

.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

// @media (min-width: 768px) {
//   .comments__delete {
//     margin-left: 15px;
//   }
// }
</style>

<style lang="scss">
.send__wrapper {
  display: flex;

  fieldset {
    border-right: initial !important;
  }
}

.v-icon.v-icon:after {
  top: 0;
  left: 0;
}
</style>
