<template>
  <div class="counter">
    <v-btn outlined class="side-button" @click="minus">—</v-btn>
    <v-btn outlined class="center-btn">
      <span class="center-btn__text" @click="center">
        <span v-if="title"> {{ title }}<br /> </span>
        {{ value }}
      </span>
    </v-btn>
    <v-btn outlined class="side-button" @click="plus">+</v-btn>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Model } from 'nuxt-property-decorator';

@Component({})
export default class Counter extends Vue {
  @Model('change', { type: Number }) value!: number;

  @Prop({ default: 1 }) step!: number;

  @Prop({ default: 10 }) max!: number;

  @Prop({ default: -10 }) min!: number;

  @Prop() title!: string;

  plus(): void {
    const nextValue: number = this.value + this.step;

    if (nextValue <= this.max && nextValue >= this.min) {
      this.$emit('change', nextValue);
      this.$nextTick(() => {
        this.$emit('plus', nextValue);
      });
    }
  }

  minus(): void {
    const nextValue: number = this.value - this.step;

    if (nextValue <= this.max && nextValue >= this.min) {
      this.$emit('change', this.value - this.step);
      this.$nextTick(() => {
        this.$emit('minus', nextValue);
      });
    }
  }

  center(): void {
    this.$emit('center');
  }
}
</script>

<style scoped lang="scss">
.counter {
  display: inline-flex;
  justify-content: center;
}

.side-button {
  min-width: 55px !important;
  padding: 0 5px;
}

.side-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.side-button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

// 86 + 40 + 40 = 166

.center-btn {
  border-radius: 0;
  min-width: 55px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-left: none;
  border-right: none;
}

.center-btn__text {
  display: block;
  text-align: center;
}
</style>
