<template>
  <section :class="['strumming', editor ? 'strummin--editor' : '']">
    <v-btn
      v-if="editor"
      outlined
      width="100%"
      min-width="100%"
      class="strumming__templates"
      @click="templatesDialog = true"
    >
      {{ $t('templates') }}
    </v-btn>
    <v-dialog v-if="editor" v-model="templatesDialog" :width="`${width}px`">
      <v-card class="templates">
        <h3 class="strumming__title">
          {{ $t('chose') }}
        </h3>
        <div class="templates__wrapper">
          <div
            v-for="(template, index) of templates"
            :key="index"
            v-ripple
            class="strumming__list strumming__list--dialog"
            @click="choseTemplate(template)"
          >
            <div
              v-for="(type, i) of template"
              :key="i"
              class="strumming__list-item"
            >
              <v-icon size="15px"> $vuetify.icons.{{ type }} </v-icon>
              <span class="strumming__score">
                {{ score(i) }}
              </span>
            </div>
          </div>
        </div>
      </v-card>
    </v-dialog>
    <div class="strumming__list">
      <div
        v-for="(type, index) of dirs"
        v-show="checkDirs()"
        :key="index"
        class="strumming__list-item"
      >
        <v-icon size="15px"> $vuetify.icons.{{ type }} </v-icon>
        <span class="strumming__score">
          {{ score(index) }}
        </span>
      </div>
    </div>
    <section v-if="editor" class="strumming__controls">
      <v-btn
        min-width="52px"
        class="strumming__btn"
        aria-label="Delete strumming item"
        outlined
        @click="del()"
      >
        <v-icon size="24px"> $vuetify.icons.delete </v-icon>
      </v-btn>
      <v-btn
        v-for="type of types"
        :key="type"
        min-width="52px"
        class="strumming__btn"
        outlined
        aria-label="Type of strumming"
        @click="add(type)"
      >
        <v-icon size="15px"> $vuetify.icons.{{ type }} </v-icon>
      </v-btn>
    </section>
  </section>
</template>

<script lang="ts">
import { Component, Vue, Prop, Model } from 'nuxt-property-decorator';

import Templates from '~/utils/strumming';

@Component({})
export default class Strumming extends Vue {
  @Prop({ default: false }) editor!: boolean;

  @Model('change', { default: () => [] }) dirs!: string[];

  templatesDialog: boolean = false;

  templates: Array<string[]> = Templates;

  width: number = 300;

  types = ['cross', 'down', 'up'];

  score(index: number): string {
    if ((index + 1) % 2 === 0) {
      return '_';
    }
    return String(Math.floor((index + 1) / 2) + 1);
  }

  add(type: string): void {
    this.dirs.push(type);
    this.$emit('change', this.dirs);
  }

  del() {
    this.dirs.pop();
    this.$emit('change', this.dirs);
  }

  choseTemplate(template: string[]) {
    this.dirs = template.slice();
    this.$emit('change', template.slice());
    this.templatesDialog = false;
  }

  mounted() {
    this.handleResize();
    if (window) {
      window.addEventListener('resize', this.handleResize);
    }
  }

  beforeDestroy() {
    if (window) {
      window.removeEventListener('resize', this.handleResize);
    }
  }

  handleResize() {
    if (window.innerWidth >= 768) {
      this.width = 600;
    } else {
      this.width = 300;
    }
  }

  checkDirs() {
    return this.dirs.every((item) => {
      return this.types.some((type) => {
        return type === item;
      });
    });
  }
}
</script>

<style scoped lang="scss">
.strumming__title {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: $main-font;
}

.strumming {
  width: max-content;
  max-width: 100%;
  min-width: 200px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.strummin--editor {
  min-width: 100%;
  width: 100%;

  .strumming__list {
    width: 100%;
  }
}

.strumming__list {
  display: flex;
  padding: 0 14px;
  align-items: center;
  height: 50px;
  border-radius: $btn-border-radius;
  border: 1px solid $m-black;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative !important;
  width: max-content;
  max-width: 100%;
  min-width: 200px;
}

.strumming__list::-webkit-scrollbar {
  display: none;
}

.strumming__controls {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.strumming__list-item {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.strumming__list-item:last-child {
  padding-right: 14px;
}

.strumming__list--dialog {
  margin-top: 20px;
}

.strumming__score {
  height: 12px;
  font-size: 13px;
}

.strumming__btn {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.templates {
  padding: 15px 25px;
  overflow-x: scroll;
}

.templates__wrapper {
  padding-right: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .strumming__list-item:last-child {
    padding-right: 0;
  }
}

.strumming__templates {
  margin-bottom: 20px;
}
</style>
