<template>
  <section :class="['insurance-item', isDevelop ? 'insurance-item--develop' : '']">
    <h4 class="insurance-item__title">
      {{ title }}
    </h4>
    <v-icon class="insurance-item__icon">
      ppd-{{ icon }}
    </v-icon>
    <h3 class="insurance-item__description">
      {{ description }}
    </h3>

    <div class="insurance-item__reward reward">
      <v-icon class="reward__infinite" v-if="isInfinite">
        ppd-infinite
      </v-icon>
      <span class="reward__percent" v-if="!isInfinite">
        {{ percent }}%
      </span>
      <h5 class="reward__description">
        Вознаграждение
      </h5>
    </div>

    <div class="insurance-item__done" v-if="!isDevelop">
      <p-button
        class="insurance-item__checkout"
        :to="to"
      >
        Оформить
      </p-button>
      <p-button
        class="insurance-item__detailed"
        :text="true"
        @click="$emit('detailed')"
      >
        Подробнее
      </p-button>
    </div>

    <span class="insurance-item__develop" v-if="isDevelop">
      В разработке
    </span>
  </section>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import PButton from "./PButton.vue";

@Component({
  components: {
    PButton,
  },
})
export default class InsuranceItem extends Vue {
  @Prop({ default: true }) isDevelop!: boolean;

  @Prop({ default: "error" }) title!: string;

  @Prop({ default: "error" }) description!: string;

  @Prop({ default: "error" }) icon!: string;

  @Prop({ default: "error" }) percent!: string;

  @Prop({ default: true }) isInfinite!: boolean;

  @Prop({ default: "/error" }) to!: string;
}
</script>

<style scoped lang="scss">
@import "_P/res.scss";

.insurance-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 204px;
  height: 283px;

  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;

  background: #FFFFFF;
  box-shadow: 0px 2px 14px rgba(217, 217, 217, 0.5);
  border-radius: 15px;
}

.insurance-item__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;

  text-transform: uppercase;

  color: $prime;
}

.insurance-item__icon {
  margin-top: 19px;
}

.insurance-item__description {
  margin-top: 13px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  text-align: center;
  text-decoration-line: underline;

  color: $notblack;
}

.insurance-item__reward {
  margin-top: 16px;
}

// REWARD
.reward {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reward__infinite {
  font-size: 15px;
}

.reward__description {
  margin-top: 6px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 5px;

  text-align: center;

  color: $notblack;
}

.reward__percent {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 15px;

  text-align: center;

  color: $prime;
}

.insurance-item__done {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 25px;
}

.insurance-item__detailed {
  margin-top: 5px;
  margin-bottom: 21px;
}

.insurance-item__develop {
  margin-top: 41px;
  padding-bottom: 55px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;

  text-align: center;

  color: $cookie;
}

.insurance-item--develop {
  .insurance-item__title {
    color: $cookie;
  }

  .insurance-item__description {
    color: $cookie;
  }
}

@media (max-width: $w-sm) {
  .insurance-item {
    width: 124px;
    height: 171px;

    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .insurance-item__title {
    font-size: 12px;
    line-height: 13px;
  }

  .insurance-item__icon {
    margin-top: 13px;

    font-size: 20px;
  }

  .insurance-item__description {
    margin-top: 11px;

    font-size: 8px;
    line-height: 10px;
  }

  .insurance-item__reward {
    margin-top: 6px;
  }

  .reward__description {
    margin-top: 3px;

    font-size: 6px;
    line-height: 5px;
  }
  
  .reward__percent {
    font-size: 10px;
    line-height: 10px;
  }

  .reward__infinite {
    font-size: 9px;
  }

  .insurance-item__done {
    margin-top: 7px;
  }

  .insurance-item__checkout {
    width: 78px;
    height: 21px;

    font-size: 8px !important;
  }

  .insurance-item__detailed {
    width: 78px;
    height: 21px;

    margin-top: 2px;

    font-size: 8px !important;
  }

  .insurance-item__develop {
    margin-top: 24px;

    font-size: 10px;
  }
}
</style>
