<template>
  <v-btn
    color="prime"
    dark
    depressed
    text
    min-width="146px"
    :block="false"
    :normal="true"
    :class="['p-button', text ? 'p-button--text' : '']"
    v-on="$listeners"
    v-bind="$attrs"
  >
    <slot />
  </v-btn>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator"

@Component({})
export default class PButton extends Vue {
  @Prop({ default: false }) text: boolean
}
</script>

<style scoped lang="scss">
@import "_P/res.scss";

.p-button {
  width: max-content;

  margin: 0;

  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 12px !important;

  border-radius: 4px;
  box-shadow: 0px 4px 20px #CABDFF !important;
}

.p-button--text {
  background-color: transparent !important;
  box-shadow: inherit !important;
  color: $prime;
  border: inherit;
}
</style>
