<template>
  <v-dialog
    v-model="status"
    class="dialog"
    max-width="791px"
    overlay-opacity="0.5"
    @input="$emit('change-dialog', $event)"
  >
    <v-card class="dialog__card">
      <v-icon
        class="dialog__close"
        v-ripple
        @click="$emit('change-dialog', false)"
      >
        ppd-cross
      </v-icon>
      <p-title class="dialog__title">
        {{ title }}
      </p-title>
      <p class="dialog__description">
        <b>
          {{ title }}
        </b>
        {{ description }}
      </p>
      <ul class="dialog__list list">
        <li class="list__item" v-for="item of list" :key="item">
          {{ item }}
        </li>
      </ul>
      <p-button :to="to">
        Оформить
      </p-button>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Model, Prop } from "vue-property-decorator";
import PTitle from "./PTitle.vue";
import PButton from "./PButton.vue";

@Component({
  components: {
    PTitle,
    PButton,
  },
})
export default class PDialog extends Vue {
  @Model("change-dialog", { default: false }) status!: boolean;

  @Prop({ default: "error" }) title: string;
  @Prop({ default: "error" }) description: string;
  @Prop({ default: ["error"] }) list: string[];
  @Prop({ default: "/error" }) to: string;
}
</script>

<style scoped lang="scss">
@import "_P/res.scss";

.dialog {
  max-width: 791px;
}

.dialog__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 88px;
  max-width: 791px;

  position: relative;
}

.dialog__title {
  margin-bottom: 40px;
}

.dialog__description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}

.dialog__list {
  width: 100%;
  padding-left: 0;
  margin-bottom: 30px;
}

.list {
  list-style-position: inside;
}

.list__item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 14px;
}

.list__item:last-child {
  margin-bottom: 0;
}

.dialog__close {
  position: absolute !important;
  right: 15px;
  top: 15px;
}

@media (max-width: $w-md) {
  .dialog__card {
    padding: 40px 22px;
    padding-bottom: 45px
  }
}

@media (max-width: $w-sm) {
  .dialog__title {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .dialog__description {
    font-size: 12px;
  }

  .dialog__list {
    margin-bottom: 40px;
  }

  .list__item {
    font-size: 12px;
    margin-bottom: 2px;
  }
}
</style>
