<template>
  <h2 class="title">
    <slot></slot>
  </h2>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"

@Component({})
export default class PTitle extends Vue {}
</script>

<style scoped lang="scss">
@import "_P/res.scss";

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: $notblack;
}

@media (max-width: $w-sm) {
  .title {
    font-size: 14px;
    line-height: 20px;
  }
}
</style>
